#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root > header {
  height: 80px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#root > main {
  flex: 1;
  padding: 20px;
}

#root > footer {
  height: 80px;
  background-color: #fff;
  text-align: center;
  padding: 20px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
